.udemyCarousel{
    background-image: url(../img/cover.jpg);
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 500px;
    color: $color-white-0;
    .container{
        height: 100%;
    }
    .col-5{
        height: 100%;
        display:flex;
        align-items:center;
        form{
            @include styleFormSearch($color-white-0,$color-white-0,$color-white-0);
        }
    }

}