.instructor {
  margin-top: 80px;
  .instructor__content {
    .instructor__item {
      padding: 28px 30px;
      .instructor__title {
        a {
          text-decoration: none;
          h3 {
            @include styleText($color-black-0, $fs-3, $fw-bold);
          }
        }
      }
      .instructor__text {
        & > p {
          min-height: 50px;
        }
      }
      .button {
        margin-top: $mg-1;
      }
    }
  }
}
